[Unit]
Description=TSBS Analytics Web Application
After=network.target

[Service]
Type=forking
User=yangxing
Group=staff
WorkingDirectory=/Users/yangxing/Downloads/tsbs_analytics
ExecStart=/Users/yangxing/Downloads/tsbs_analytics/start.sh
ExecStop=/Users/yangxing/Downloads/tsbs_analytics/stop.sh
ExecReload=/Users/yangxing/Downloads/tsbs_analytics/restart.sh
PIDFile=/Users/yangxing/Downloads/tsbs_analytics/app.pid
Restart=always
RestartSec=3
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=tsbs-analytics

[Install]
WantedBy=multi-user.target
